 {{#each book}}
 
 <div class="book-card">

                <div class="card-title">
                    <h2 class="bookCardTitle">Title:</h2>
                    <h2 class="card-data">{{title}}</h2>
                </div>
                
                <div class="card-title">
                    <h2 class="bookCardAuthur">Authur:</h2>
                    <h2 class="card-data">{{authur}}</h2>
                </div>

                <div class="card-title">
                    <h2 class="bookCardPages">Pages:</h2>
                    <h2 class="card-data">{{pages}}</h2>
                </div>

                <div class="card-title">
                    <h2 class="bookIsRead">Status:</h2>
                    <h2 class="card-data">{{isRead}}</h2>
                </div>

                <div class="edit-delete">
                    
                    <button class="lib-btn">Edit</button>

                   <form action="/{{title}}?_method=DELETE"  method="POST">
                        <button class="lib-btn">Delete</button>
                   </form> 
                    
                    
                </div>

     </div>

     {{/each}}
